<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%- name %></title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="<%- themeColour %>" />
    <meta
      name="description"
      content="<%- description %>"
    />

    <!--
      manifest.json provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
    <link rel="manifest" href="/manifest.json" />
    
    <!-- -------------------------- Favicon Settings --------------------------- -->
    <link rel="icon" href="/favicons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#86c232">
    <!-- ----------------------------------------------------------------------- -->


    <!-- Script for analytics using plausible analytics -->
    <script defer data-domain="<%- dataDomain %>" src="<%- analyticsSrc %>"></script>

  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <script type="module" src="/src/index.tsx"></script>
  </body>
</html>
